.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0;
    padding-top:calc(50% - 30px);

    -webkit-transition: 0.1s ease-in;
    -moz-transition: 0.1s ease-in;
    -ms-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
}

.thumbnail:hover {
	opacity: 0.6;
}